@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mg-sm {
  margin: 10px;
}

.mg-md {
  margin: 30px;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}
